{
  "project": {
    "name": "pcie_project",
    "tb_root": "/Users/apple/Documents/TB-Wizard/test_project",
    "project_root": "/Users/apple/Documents/TB-Wizard",
    "rtl_root": "/Users/apple/rtl",
    "sim_root": ""
  },
  "tool": {
    "sim_tool": "VCS",
    "vcs_home": "/tools/synopsys/vcs/R-2023.12",
    "vcs_version": "",
    "xcelium_home": "",
    "xcelium_version": "",
    "questa_home": "",
    "questa_version": "",
    "verdi_home": "",
    "verdi_version": ""
  },
  "env": {
    "designware_home": "",
    "uvm_home": "/tools/uvm/1.2",
    "dv_utility_home": "",
    "vip_home": "",
    "common_vip_home": ""
  },
  "task": {
    "id": "tb-gen",
    "name": "TB Generation"
  },
  "tb_type": "IP",
  "tb_component_name": "pcie_ip",
  "ip_config": {
    "vips": [],
    "c_model": {
      "enabled": false
    },
    "ral": {
      "enabled": false
    }
  }
}